<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grich.share.dao.user.VlabUserMapper">

  <delete id="deleteOauth">
    delete from oauth_access_token;
    delete from oauth_refresh_token;
    delete from oauth_client_details;
  </delete>

</mapper>